{% extends "./wrapper.html" %}
{% load actionkit_tags %}

{% block content %}
<div class="ak-grid-row">
    <div class="ak-grid-col ak-grid-col-12-of-12">
        <h2>Thanks! Now you must confirm your event.</h2>
        <p>You'll need to confirm your event before it goes live, and our staff is going to give it a once-over to make sure you're set up for success.</p>
<p>
<strong>Check your email to finish creating your event.</strong> If you don't receive an email, it's possible there was a typo in your address. Make sure to check your spam folder as well!</p>
    </div>
</div>
{% endblock %}
