{% load actionkit_tags %}

{% filter collapse_spaces %}

<div>
	<p style="font-weight:bold;color:#e83d3e">{{ event.get_starts_at_display }} {% if event.is_in_past %}
                    <span class="ak-error ak-event-over-notice">
                        (event is now over)
                    </span>
                {% endif %}</p>
						<p><span style="font-weight:bold;">{{ event.venue }}</span><br>{{ event.address1 }}, {{ event.city }}, {{ event.state }} {{ event.zip }}</p>

	{% if campaign.show_directions and event.directions %}
							<p class="ak-event-directions">
								<span><strong>Directions:</strong></span> <br>
								{{ event.directions }} {% if event.distance|is_nonblank %}
				<span class="ak-event-distance">({{ event.distance_str }} away)</span>
					   {% endif %}</p>
					{% endif %}

    {% if event.note_to_attendees %}
        <tr class="ak-event-note-to-attendees">
            <th>Your host says:</th>
            <td>{{ event.note_to_attendees }}</td>
        </tr>
    {% endif %}
    </table>

    {% if event.public_description %}
        <p class="ak-event-description">
            {{ event.public_description }}
        </p>
    {% endif %}

</div>

{% endfilter %}
